{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Estoque{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
</head>

<body class="min-h-screen bg-gray-100 flex flex-col">

    <!-- HEADER PRINCIPAL -->
    <header class="bg-gray-800 text-white shadow-md">
        <div class="container mx-auto flex items-center justify-between p-4">

            <div class="bg-orange-600 px-6 py-2 rounded-tr-3xl rounded-bl-3xl font-bold text-lg">
                ESTOQUE
            </div>

            <nav class="space-x-6 hidden md:flex">
                <a href="{% url 'home' %}" class="hover:text-orange-400">Painel</a>
                <a href="{% url 'produtos' %}" class="hover:text-orange-400">Produtos</a>
                <a href="{% url 'fornecedores' %}" class="hover:text-orange-400">Fornecedores</a>
            </nav>

            <a 
               class="border-0 px-4 py-1 rounded-l-lg rounded-tr-lg ">
            </a>
        </div>
    </header>

    <!-- CONTEÚDO -->
    <main class="flex-1 container mx-auto p-8">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>